<p-sidebar [(visible)]="displaySideBar">
  <!--p-menu [model]="items" [style]="{'width':'200px'}"></p-menu-->
  <div style="margin-top:70px;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-primary" routerLink="processo">
          <i class="fa fa-tachometer fa-2x fa-2x"></i>
          Processo
        </a>
      </li>
      <br>
      <li class="nav-item">
        <a class="nav-link text-primary" routerLink="consultas">
          <i class="fa fa-search fa-2x"></i>
          Consultas
        </a>
      </li>
    </ul>
  </div>
</p-sidebar>
<p-dialog header="Setup COM port" [(visible)]="displayComDialog">
  <div>
    <p-dropdown [options]="ports" [(ngModel)]="selectedPort" optionLabel="comName" [style]="{'width':'150px'}"></p-dropdown>
    <br>
    <br>
    <p-inputSwitch [(ngModel)]="connected" (click)="connect()"></p-inputSwitch>
  </div>
</p-dialog>
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button class="ui-button-secondary" style="font-size: 1em" type="text" (click)="displaySideBar = true" pButton icon="pi pi-bars"></button>
  </div>
  <div class="ui-toolbar-group-right">
    {{statusComMsg}}
    <button pButton type="button" (click)="showComDialog()" icon="pi pi-cog" pTooltip="Configurações da porta serial"></button>
  </div>
</p-toolbar>
<router-outlet></router-outlet>

<!--div>
  <p-table [value]="values">
    <ng-template pTemplate="header">
      <tr>
        <th>DATA</th>
        <th>TEMPERATURA</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-v>
      <tr>
        <td>{{v.dataHorario}}</td>
        <td>{{v.valor}}</td>
      </tr>
    </ng-template>
  </p-table>
</div-->
